.header {
  box-shadow: 0 0 1rem #eee;
  display: flex;
  flex-flow: row;
  height: 4rem;
  justify-content: space-between;
  margin: 0;
  padding: 0 8rem;
}

.logotype, .navigation {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logotype {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .01em;
}