.footer {
  box-shadow:         inset 0 0 16px #777;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  margin: 0;
  opacity: .3;
  text-align: center;
}